mixin about
	+b.about
		p.title Terms and Conditions
		+e.text
			ul
				li A customer is entitled to only one bonus. The minimum required deposit to activate the bonus is 75 INR.
				li Before making a deposit into their account, customers must agree to receive a sports betting bonus either on the ‘Account Settings’ page in the My Account section, or directly on the ‘Deposit’ page. This bonus is automatically credited to customers’ accounts once the first deposit has been made, provided that the account details have been completed in full and a telephone number has been activated
				liBet 5 times the bonus amount in accumulator bets. Each accumulator bet must contain 3 events or more. At least 3 events within the accumulator must have odds of 1.40 or higher. Start dates of all events should not be later than the validity period of this offer
				li The required amount is considered to have been wagered only when all the bets made within the said amount have been settled. ⦁ No withdrawals can be made before all the conditions of the offer are met (apart from the exceptions specified in the Appendix*.)
				li The bonus rollover must be completed in full before the customer can withdraw all the funds from the account (or transfer the funds to the casino), otherwise any bonuses or winnings made therewith will be forfeited.
				li The offer cannot be used in conjunction with any other promotional or special offers
				li 1xBet has the right to amend the terms of the offer, cancel or renew the offer, or refuse to allow participation at any time without prior notice.

			ul
				li 1xBet may limit or refuse eligibility of customers to take part in this or any other offer.
				li 1xBet reserves the right to review customers' transaction records and logs for any reason. If, upon such review, it appears that a customer or customers are participating in strategies that 1xBet in its sole discretion deems to be abusive, 1xBet reserves the right to revoke the entitlement of such customers to the promotion and reclaim the bonus
				li Only one bonus is allowed per customer, per family, per address, per shared computer and shared IP address, and per any account details including e-mail address, bank account details, credit card information and payment system account number. Any misuse of this bonus offer will lead to the closure of the account
				li The customer must provide ID documents, when necessary, to validate their identity (KYC). Failure to produce these documents if requested will result in the bonus and any winnings being forfeited. 1xBet reserves the right to request, at any time, that the customer provides photographic evidence of themselves holding their ID (the customer’s face must be clearly visible in the photo) or undergoes identification via telephone.
				li If 1xBet believes itself to be the victim of fraud or money laundering, the company has the right to close the customer's account and freeze the remaining balance
				li After the bonus has been redeemed, your main account will be credited with the remaining bonus funds, which will not exceed the initial bonus amount. If, after it is redeemed, the bonus account balance is less than the minimum stake amount, the bonus is deemed to be lost. These Terms Conditions are part of the General 1xBet Terms Conditions.
		+e.BUTTON.btn.btn-default.btn-green Register
		hr
		+e.IMG.mobile-logo(src="img/Logo.png" alt="logo")