mixin main_screen 
	+b.main
		+b.main-inner
			+b.main-content.indent
				+e.P.title Get 100% bonus
				+b.sub-title
					+e.P on the 1st deposit 
					+e.P up to 8000 INR
				+e.BUTTON.btn-main.btn-green jOIN now
			+b.player-block
				+e.IMG.human(src="img/cricket_player.png", alt="logo")
