mixin second-block
	+b.second-block
		+e.P.bonus How to get bonus?
		+b.instruction
			+e.inner
				+e.item
					p.number 1
					.text
						p.title Sign up
						p.content Register on the 1xBet website. Fill in all the fields in My Account
				+e.item
					p.number 2
					.text
						p.title Make a deposit  
						p.content Top up your account up to 8000 INR (or equivalent in another currency
				+e.item
					p.number 3
					.text
						p.title 100% bonus is yours 
						p.content The bonus will be credited to your account automatically after the deposit is made (but should not exceed 8000 INR)
		+e.BUTTON.btn.btn-green.btn-default BET now